@tailwind base;
@tailwind components;
@tailwind utilities;


/* table background css */
.ant-table-thead > tr > th {
    background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1)) !important;
    color: #fff !important;
}
.ant-table-tbody > tr > td {
  background-color: #d2d6d6;
  color: #333;
}

/* table border css */
.ant-table-bordered .ant-table-cell {
  border-color: #3333 !important;
}

.ant-table-bordered .ant-table-row:hover > td {
  border-color: #3333 !important;
}

/* pagination css */
.ant-pagination-item {
  background-color: black !important;
  color: #0000 !important;
  border: 2px solid #0000 !important;
}

.ant-pagination-item-active a{
  color: #ffff !important;
}

.ant-pagination-item:hover {
  background-color: black !important;
  color: #ffff !important;
}


/* menu hover css */
.ant-btn-variant-text:not(:disabled):not(.ant-btn-disabled):hover {
  color: #fff !important;
}

/* delete model */
.deletebtn {
  background-color: red;
  padding: 12px;
}
.cancelbtn {
  padding: 12px;
}

/* date picker */
.ant-picker-dropdown .ant-picker-panel-container .ant-picker-panels {
 flex-direction: column;
}

/* antd button default hover css */
.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover, .ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: black;
  color: white;
  border: none;
}

/* disable input for the view record */
.ant-input.ant-input-disabled, .ant-input-outlined, .ant-picker-outlined.ant-picker-disabled, .ant-picker-outlined {
  color: #050505;
  border-color: #9999;
  border-width: 2px;
}